{% extends 'base.html.twig' %}

{% trans_default_domain 'core' %}

{% block title %}{%trans with {'%name%': site_short, '%local%': 'security.reset.title'} %}security.reset.title{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}security.reset.header{% endtrans %}</h1>

    {{ form(form) }}
{% endblock %}
