{% extends "layout.html.twig" %}

{% block content %}
<div class="exception">
	<h2>{{ 'error.title'|trans|title }}</h2>
	{% for each in bits %}
		{{ each|trans|raw }}
	{% endfor %}
</div>
{% endblock %}

