{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ "diplomacy.disown.name"|trans({},"politics")|title }}</h2>
	<p>{{ "diplomacy.disown.intro"|trans({'realm':realm.name, 'parent':parent.name},"politics")|raw }}</p>
	{{ form(form) }}

{% endblock %}
