<div class="chat">
    <div id="accordion">
        <h3>{{ 'chat.settlement.title'|trans({"%name%":settlement}, "actions")|title }}</h3>
        <div>
            {{ form(chat, {'action':path('maf_chat_settlement', {"source":sourcePath})}) }}
            {% include 'element/chat_base.html.twig' with {"messages": messages} %}
            {% if messages.count > 25 %}
                <hr />
                <a href="{{ path("maf_chat_settlement") }}">{{ 'chat.link'|trans({"%count%":messages.count}) }}</a>
            {% endif %}
        </div>
    </div>
</div>