{% extends "layout.html.twig" %}

{% block content %}
	{% if public %}
		<div class="queue">
			<h3>{{ 'assoc.route.view.history.name'|trans({},"orgs")|title }}</h3>
			<dl>
			{% include "Events/shortLog.html.twig" with {'events':assoc.log.events} %}
			</dl>
		</div>
		<h2>{{ assoc.formalName }}</h2>
		<p>{{ assoc.description.text|markdown_to_html|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><h4><h5><h6><blockquote><del><table><thead><tr><th><tbody><td><a><dl><dt><dd>')|wikilinks }}</p>
		{# Copy the realm and house pages, probably. #}
	{% else %}
		{{ 'view.hidden'|trans({}, "assoc") }}
	{% endif %}
{% endblock %}
