{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ "abdicate.name"|trans({},"politics")|title }}</h2>

	<p>{{ "abdicate.desc"|trans({"%position%":link(position)},"politics")|raw}}</p>

	{{ form(form) }}

{% endblock %}
