{% extends "layout.html.twig" %}

{% block content %}

    <h1>Anonymous IP Blocked</h1>

    <p>Hey, Andrew (M&F's developer) here, and for the longest time I didn't want to do something like this. I respect that there are users out there who value their privacy as much as or more than I do.</p>

    <p>But unfortunately, a rash of abuse from anonymized addresses means I've been forced to take action to protect the integrity of Might & Fealty's gameplay.</p>

    <p>So, I'm no longer allowing most traffic from any IP address I can't trace back to an actual user (basically, no VPNs or TOR).</p>

    <p>The key word there is most. If you really do believe you need to protect yourself to that degree just to play a browser game, you're welcome to reach out to me on Discord or via email to discuss it. I have actually added functionality to M&F to support allowing specific users to do just that.</p>

{% endblock %}
