{% set biglogo = true %}
{% extends app.request.isXmlHttpRequest ? "ajax.html.twig" : "layout.html.twig" %}

{% block content %}
<h2>{{ 'paymentconcept'|trans|title }}</h2>

{{ content|markdown_to_html }}

<div class="clear"></div>

{% endblock %}
