{% extends "layout.html.twig" %}

{% trans_default_domain 'activity' %}
{% block content %}
	<h2>{{ "tourn.create.name"|trans|title }}</h2>
	<p>{{ "tourn.create.intro"|trans|raw}}</p>
	<p><b>{{ "tourn.create.warning"|trans|raw}}</b></p>
	{{ form(form, {'attr': {'class':'wide'}}) }}

{% endblock %}
