{% extends "layout.html.twig" %}

{% trans_default_domain 'activity' %}
{% block content %}
	<h2>{{ ('fish.'~fish.name~'.name')|trans|title }}</h2>
	{{ ('fish.'~fish.name~'.desc')|trans }}

{% endblock %}
