{% extends "layout.html.twig" %}

{% block content %}

<h2>{{ "artifact.create.title"|trans|title }}</h2>
<p>{{ "artifact.create.limit"|trans({"%amount%":app.user.artifactslimit})|raw }}</p>

<p>{{ "artifact.create.intro"|trans|raw }}</p>
{{ form(form, {'attr': {'class':'wide'}}) }}

{% endblock %}
