{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'unit.return.name'|trans({"%name%":unit.name},"actions")|title }}</h2>
<p>{{ 'unit.return.intro'|trans({"%name%":unit.name},"actions")|raw }}</p>
	{{ form(form) }}

{% endblock %}
